<body class="metrouicss" >
    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Carousel<small>demo</small></h1>
                <a href="/" class="back-button big page-back"></a>
            </div>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                <div class="grid">
                        <div class="span9">
                            <div class="carousel span9" style="height: 600px;" data-role="carousel" data-param-effect="slowdown" data-param-direction="left" data-param-period="3000" data-param-markers="off">
                                <div class="slides">
                                    <div class="slide image" id="slide10">
                                        <img src="/img/1.jpg" />
                                    </div>
                                    <div class="slide image" id="slide11">
                                        <img src="/img/2.jpg" />
                                    </div>
                                    <div class="slide imgae" id="slide12">
                                        <img src="/img/3.jpg" />
                                    </div>
                                </div><span class="control left bg-color-darken">&#8249;</span> <span class="control right bg-color-darken">&#8250;</span></div></div></div></div> </div> </div>  </body>