

    <head>
        <title>中期检查</title>
        <link href="/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/css/screen.css" rel="stylesheet" type="text/css" />
        <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js">
        </script>
        <script type="text/javascript">
            //<![CDATA[

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-24109853-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

                //]]>
            </script>
</head>

<body>
      <div id="wrapper">
          <div id="content">
              <div id="header">
                  <h1><a href="/"><img alt="Noir" src="/img/noir-logo.png" /></a>
                  </h1>
                        <ul>
                            <li><a href="/#started">Get Started</a></li>
                            <li><a href="/tutorials">Tutorials</a></li>
                            <li><a href="http://groups.google.com/group/clj-noir">Google Group</a></li>
                            <li><a href="/docs/">API</a></li>
                            <li><a href="https://github.com/noir-clojure/noir">Src</a></li>
                        </ul>
                        <h2>论文中期检查</h2>
                    </div>
                   
                    <div class="">
<ul class="start">
    <li>

<h2 id="started"><img alt="Getting Started" src="/img/starte.png" /></h2>

    <div class="left">
        <div class="highlight"><pre><code class="clojure">
          <span class="kd">
  (1) 使用wireshark 抓包：
  <a href="/wiki1"><img alt="Noir" src="/img/4.jpg" /></a>
            </span> 
</code></pre>
</div>
    </div>
    <div class="right">
        <p id="desc"> Wireshark is the world's foremost network protocol analyzer. It lets you see what's happening on your network at a microscopic level. It is the de facto (and often de jure) standard across many industries and educational institutions. <a href="http://www.wireshark.org/">wireshark</a>.</p>

        <p>And it couldn't be any <em>simpler</em>.</p>
    </div>
    </li>
</ul>






<ul class="start">
    <li>
    <div class="left">
        <div class="highlight">
      <pre><code class="clojure">
          <span class="kd">
  (2)使用python解析抓取的文件:
  <a href="/python"><img alt="Noir" src="/img/python.jpg" /></a>
      


            </span> 
</code></pre>

    </div>

    </div>
    <div class="right">
        <p >Python是一种解释型、面向对象、动态数据类型的高级程序设计语言。自从20世纪90年代初Python语言诞生至今，它逐渐被广泛应用于处理系统管理任务和Web编程。Python已经成为最受欢迎的程序设计语言之一。2011年1月，它被TIOBE编程语言排行榜评为2010年度语言。自从2004年以后，python的使用率是呈线性增长。
        </p>
    </div>
    </li>
</ul>

          <ul class="start">
    <li>
    
    <div class="left">
        <p >
          <img alt="Noir" src="/img/103.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
         <img alt="Noir" src="/img/102.jpg" />
        </p>
    </div>


    <div class="right">
        <div class="highlight">
      <pre><code class="clojure">
          <span class="kd">
  (3)今后工作重点:
    1: 将重心放在IPV6协议的解析和研究上，
    2: 如左图所示 将建立的各部分联系起来，建立一个完整
    的解析系统。
    3：这个 系统的重点依然放在p2p协议和http协议，
    的用户行为的分析上。
  
            </span> 
</code></pre>

    </div>

    </div>
    </li>
</ul>

  <ul class="start">
    <li>
    <div class="left">
        <div class="highlight">
      <pre><code class="clojure">
          <span class="kd">
  (4) 建立本网站 使用了：
   clojure ： 基于JVM的函数式编程语言。
   ring /compojure :  基于clojure 的一个十分简约的Web框架。
   Ui metro css : 基于windows 8的css风格页面。
   jquery/jquery ui： 基于javascript 的js应用包。
   jetty web 容器：一种可插拔的web服务器。
   mongo datebase: NoSQL 数据库，基于key-value的数据库。
   hiccup :   html 的封装的库， 可以将html直接写成函数。
   heroku ：  开源的 基于ruby on rail 的 部署网站平台。
   mongohq : 开源 云 mongo数据库，用于部署时该网站数据存储。
            </span> 
</code></pre>

    </div>

    </div>
    <div class="right">
        
    </div>
    </li>
</ul>


  </div>
    </div>

 <ul class="start">
    <li>
<img alt="Noir" src="/img/clojure.jpg" />
         </li>
</ul>
            </body>
    


